body {
    background-color: #005586;
    margin: 0;
    font-family: 'Roboto';
}

.content {
    margin: 10%;
    text-align: center;
    padding: 10%;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
}

@media only screen and (min-width: 1000px) {
    .content {
        margin: 5% !important;
    }
}

.content .upload {
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 30px 70px;
    border-style:dashed;
    outline: 0;
    cursor: pointer;
    text-align: center;
    color: #505050;
}

.tb-file {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

tr, td {
    padding: 20px 12px;
    text-align: left;
}

button {
    margin-top: 50px;
    border: 1px solid #005586;
    padding: 7px 20px;
    border-radius: 5px;
    background-color: #005586;
    color: white;
    font-size: 16px;
    outline: 0;
}

button:hover {
    background-color: #00558693;
}

.sansang {
    border-radius: 5px;
    color: #32be5b;
    font-size: 14px;
}

.up {
    display: none;
}

.bor {
    box-shadow: 0 0 30px 5px #005586;
    border: 1px solid white;
    margin: 70px 0 0 0;
    border-radius: 25px;
    padding: 0 10px;
}

.tb-file .item {
    border-radius: 15px;
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-style:dashed;
    outline: 0;
    cursor: pointer;
    text-align: center;
    color: #505050;
}

.prior {
    margin: 0 10%;
    text-align: center;
    padding: 5% 10%;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.prior .session {
    text-align: left;
    border: 1px solid #505050;
    display: flex;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.prior .session .item {
    padding: 5px;
    margin-left: 25px;
}

.prior .session .item label {
    padding-left: 5px;
}

.prior .teacher {
    margin-top: 20px;
    text-align: left;
    border: 1px solid #505050;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    display: inline-block;
}

.prior .teacher .item {
    max-width: 33%;
    float: left;
    padding: 5px;
    margin-left: 25px;
}

.prior .teacher label {
    padding-left: 5px;
}

.pri {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    font-weight: 600;
    font-family: 'Times';
}

